<!DOCTYPE html>
<html lang="en">

<head>

  <title>Login</title>

</head>

<body class="bg-gradient-primary">



  <div class="container mt-4">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-3 d-none d-lg-block">
                    <img src="assets/img/Login.png" alt="Mon image">
                  </div>
                
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenue!</h1>
                  </div>
                  
                <form class="user" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

                  
                    <div class="form-group">
                      <input  name="userName" #Username="ngModel" [(ngModel)]="formModel.userName" required class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                     
                    <div class="form-group">
                      <input type="password" matInput placeholder="Your password" #Password="ngModel" name="password" [(ngModel)]="formModel.password" required class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    </div>
                  
                    <button class="btn btn-primary btn-user btn-block" type="submit" mat-raised-button color="accent" [disabled]="form.invalid">
                     s'authentifier
                    </button>
                    <hr>
                    
             </form>   
                  <hr>
                 
                  <div class="text-center">
                    <button class="btn btn-primary btn-user btn-block" routerLink="/registre">
                        créer votre compte!
                      </button>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</body>

</html>