<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <app-menu-org></app-menu-org>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <app-navbar-org></app-navbar-org>

      <!-- Main Content -->
      <div id="content">
        <!-- /.container-fluid -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="text-center">
                    <h4 class="card-title">
                      <h6 class="m-0 font-weight-bold text-primary">
                        Déposer la demande de bus
                      </h6>
                    </h4>
                  </div>
                </div>
                <div class="card-body">
                  <div class="basic-form">
                    <form (ngSubmit)="(onSubmit)" #demandeBusForm="ngForm">
                      <div class="row">
                        <div class="col-xl-6">
                          <div class="form-group">
                            <label for="date">Date de départ:</label>

                            <input
                              id="date"
                              type="date"
                              name="dateDep"
                              class="form-control"
                              [(ngModel)]="demandeBus.dateDep"
                              required
                            />
                          </div>
                        </div>

                        <div class="col-xl-6">
                          <div class="form-group">
                            <label for="heureDep">Heure de départ:</label>

                            <input
                              type="time"
                              class="form-control"
                              name="heureDep"
                              [(ngModel)]="demandeBus.heureDep"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-6">
                          <div class="form-group">
                            <label for="date">Date de retour:</label>

                            <input
                              id="date"
                              type="date"
                              class="form-control"
                              name="dateArr"
                              [(ngModel)]="demandeBus.dateArr"
                              required
                            />
                          </div>
                        </div>

                        <div class="col-xl-6">
                          <div class="form-group">
                            <label for="heureDep">Heure de retour:</label>

                            <input
                              type="time"
                              class="form-control"
                              name="heureArr"
                              [(ngModel)]="demandeBus.heureArr"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-6">
                          <div class="form-group">
                            <label for="raison">Destination:</label>
                            <input
                              type="text"
                              class="form-control"
                              name="destination"
                              [(ngModel)]="demandeBus.destination"
                              required
                            />
                          </div>
                        </div>

                        <div class="col-xl-6">
                          <div class="form-group">
                            <label for="raison">Raison:</label>
                            <input
                              type="text"
                              class="form-control"
                              name="raison"
                              [(ngModel)]="demandeBus.raison"
                              required
                            />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <!--</div>-->

                        <div class="col text-right">
                          <button
                            type="submit"
                            class="btn btn-primary"
                            (click)="onSubmit()"
                          >
                            Confirmer
                          </button>
                        </div>

                        <div class="col text-left">
                          <button
                            type="submit"
                            class="btn btn-primary"
                            (click)="annuler()"
                          >
                            Annuler
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Enicarthage &copy; 2022-2023</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
