<!DOCTYPE html>
<html lang="en">
  <head>
    <title>menu</title>

    <!-- Custom fonts for this template-->
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <app-menu></app-menu>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <app-navbar></app-navbar>

        <!-- Main Content -->
        <div id="content">
          <!-- End of Topbar -->

          <!-- /.container-fluid -->
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <div class="text-center">
                  <h6 class="m-0 font-weight-bold text-primary">
                    Liste des demandes Bus Refusées
                  </h6>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Destination</th>
                        <th>Date de départ</th>
                        <th>Heure de départ</th>
                        <th>Date de retour</th>
                        <th>Heure de retour</th>
                        <th>Raison</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let demande of listBus">
                        <td>{{ demande.destination }}</td>
                        <td>{{ demande.dateDep }}</td>
                        <td>{{ demande.heureDep }}</td>
                        <td>{{ demande.dateArr }}</td>
                        <td>{{ demande.heureArr }}</td>
                        <td>{{ demande.raison }}</td>
                        <td>
                          <div class="text-center">
                            <a (click)="onDeleteDemande(demande)" class="btn btn-danger btn-circle btn-sm">
                              <i class="fas fa-trash"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!--</div>-->
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Enicarthage &copy; 2022-2023</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Voulez vous quittez votre session?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Annuler
            </button>
            <a class="btn btn-primary" href="">Confirmer</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
