<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <img class="img-profile rectangle" width="180
        " height="70"
                            src="assets/img/enicar.jpg">
    
       
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/accueil">
            <i class="fas fa-fw fa-home"></i>
            <span >Accueil</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

     <!-- Heading -->
     <div class="sidebar-heading">
        Demandes
    </div>

       <!-- Nav Item - Charts -->
       <li class="nav-item">
        <a class="nav-link" routerLink="/demande-salle">
            <i class="fa fa-building"></i>
            <span>Demande de salle</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/demande-materiel">
            <i class="fa fa-list"></i>
            <span>Demande de matériel </span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/demande-bus">
            <i class="fa fa-bus" ></i>
            <span>Demande de bus  </span></a>
    </li>

 
    <!-- Divider -->
    <hr class="sidebar-divider">
    
     <!-- Heading -->
     <div class="sidebar-heading">
        Espace libre
    </div>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/proposition">
            <i class="fa fa-plus-circle" ></i>          
            <span>Propositions</span></a>

    <li class="nav-item">
        <a class="nav-link" routerLink="/reclamation">
            <i class="fa fa-minus-circle" ></i>      
            <span>Réclamations </span></a>
    </li>
       <!-- Divider -->
       <hr class="sidebar-divider">


</ul>