*{
    font-family: lato;
}

.menu-header-bg {

height: 180px;
width: 350px;
background: #7590d6;
background: linear-gradient (90deg, #7590d6 0%, #4d71d7 100%);
box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
transform: rotate(-15deg);
border-radius: 10px 10px 10px 50px;
margin-left: -18px;
margin-top: -50px;
margin-bottom: 60px;
}
.header-content { 
    position: absolute; 
    top: 30px; 
    left: 15px; 
    display: flex; 
    align-items: center;
    img {
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #5e7ccc;
    margin-right: 14px;
    }
    h2 {
    font-weight: 300;
    }

    P {
    font-size: 12px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
    }
}

ion-content {
     ion-card {
        margin-top: 40px; 
        border-radius: 28px;
        text-align: left;
        --color: #ffffff;
        ion-card-content {
            h2 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            ion-button {
                --color: #222; 
                --box-shadow: none;
            }
        }
    }
}
.card1 {
    background: linear-gradient(160deg, rgba(127, 183, 255, 1) 0%, rgba(127, 183, 255, 1) 50%, rgba(45,85,198,255) 100%);
    ion-button{
        --background: linear-gradient(90deg, rgba(127, 183, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255,1)100%);
    }
}
.desc {
    width: 300px;
    height: 100px;
    margin: 14px;  }
.couleur1 {
    background-color: #7590d6;
    border-radius: 28px;
}
.couleur2 {
    background: linear-gradient(160deg, rgba(127, 183, 255, 1) 0%, rgba(127, 183, 255, 1) 50%, rgba(45,85,198,255) 100%);
    border-radius: 28px;
}

    