<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1 class="mt-5">Validation de compte</h1>
        <p class="lead">Nous avons bien reçu votre demande de compte. Votre demande est en cours de traitement. Un email vous sera envoyé ultérieurement une fois que votre compte sera accepté.</p>
        <img class="img-profile rectangle" width="500
        " height="150"
                            src="assets/img/enicar.jpg">
      </div>
    </div>
  </div>
  