* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin-bottom: 20px;
    color: #1768ac;
  }
  .input-group {
    margin: 10px 0;
    width: 100%;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="textArea"],
  input[type="file"],
  form select
    {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
  }
  form label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 600px;
  }
  input[type="submit"]
   {
    padding: 10px;
    margin-top: 20px;
    background-color: #1768ac;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #144e7a;
  }
  .col-xl-5 {
    margin-right: 10px;
  }
  .image-container {
    flex: 1;
    height: 100vh;
    background-image: "assets\img\register.png";
    background-size: cover;
    background-position: center;
    padding: 40px;
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .image-container {
      height: 50vh;
    }
  }